<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div id="burgerDiv"><img src="/assets/img/burger.png" id="burgerPic" class="img-fluid" alt="..."></div>
            <h2 id="eatDaBurger">Eat-Da-Burger!</h2>
            <script src="/assets/js/burgers.js"></script>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div id="uneatenDiv">
                                <!--UPDATE WITH DIVS FOR EACH NEW BURGER-->
                                {{#each burgers}}
                                    {{#unless devoured}}
                                        <div class="uneatenBurger">{{burger_name}}</div>
                                    {{/unless}}
                                {{/each}}
                            </div>
                        </div>
                        <div id="devourBtnDiv" class="col-lg-4 col-md-4 col-sm-12">
                            <button id="devourBtn">Devour it!</button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div id="eatenDiv">
                                <!--UPDATE WITH DIVS WHEN BURGER IS EATEN-->
                                {{#each burgers}}
                                    {{#if devoured}}
                                        <div class="uneatenBurger">{{burger_name}}</div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div><textarea id="userInput" data-id="burger" rows="5"></textarea></div>
            <div id="devourBtnDiv">
                <button id="submitBtn">Submit</button>
            </div>
            <div id="bottomText"><p>Enter a burger you want to eat and click the submit button.</p></div>
        </div>
    </div>


</div>